@import '../../assets/styles/app.scss';
@import '../../assets/styles/scss/mixins';

.customer-page {
    .btn-add {
        position: absolute;
        top: 70px;
        right: 20px;
        z-index: 1;
        width: 100%;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-height: 35px;
        box-sizing: border-box;
        margin-bottom: 16px;
        .btn-more {
            margin-right: 16px;
        }
        .btn-add-cus {
            border-radius: 6px;
            font-size: $font-14;
            font-weight: $font-weight-semi-bold;
            text-transform: initial;
            padding: 7px 15px;
            span {
                margin-right: 8px;
            }
        }
        .options-files {
            // display: none;
            position: relative;
            .files {
                display: flex;
                flex-direction: column;
                background-color: $white;
                box-shadow: 0px 0px 25px 0px rgba(94, 92, 154, 0.1);
                border-radius: 6px;
                min-width: 152px;
                position: relative;
                position: absolute;
                top: 40px;
                left: 50%;
                z-index: 1;
                transform: translateX(-55%);
                .btn-action-file {
                    color: $color-46515f;
                    font-size: $font-14;
                    font-weight: $font-weight-medium;
                    min-height: 50px;
                    text-transform: capitalize;
                    .MuiButton-startIcon {
                        order: 1;
                        margin-left: 12px;
                    }
                }
            }
        }

        button {
            padding: 0;
            max-height: 35px;
            box-sizing: border-box;
            span {
                margin-right: 0;
            }
            &:hover {
                transform: scale(1);
            }
        }
    }

    &__list {
        margin-top: 40px;
        background-color: $white;
        border-radius: 6px;
        box-shadow: -3.062930107116699px -3.062930107116699px 7.657325744628906px 0px rgba(0, 0, 0, 0.05), 3.062930107116699px 3.062930107116699px 7.657325744628906px 0px rgba(0, 0, 0, 0.05);

        &__modal {
            .MuiDialog-container {
                min-width: 750px;
            }
            .MuiDialogContent-root {
                padding: 0;
                margin: 0;
            }
            .MuiPaper-root {
                padding: 0;
                margin: 0;
                min-width: 750px;
            }
            .MuiDialogActions-root {
                display: none;
            }
        }

        &__filters {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filters--filter-top {
                display: flex;
                width: 50%;
                .search-wrapper {
                    position: relative;
                    max-width: 40%;
                    width: 100%;
                    max-height: 35px;
                    box-sizing: border-box;
                    @include responsive(1440px) {
                        max-width: 50%;
                    }
                    .icon-search {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        z-index: 1;
                        transform: translateY(-50%);
                    }
                    .MuiInputBase-input {
                        min-height: 35px;
                        font-size: $font-14;
                        color: $color-939393;
                        font-weight: $font-weight-normal;
                        max-height: 35px;
                        box-sizing: border-box;
                        padding-left: 40px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &::placeholder {
                            font-size: $font-14;
                            color: $color-939393;
                            font-weight: $font-weight-normal;
                        }
                    }
                }
            }

            .filters--filter-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__files {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 16px;
                    .file {
                        display: flex;
                        align-items: center;
                        margin-right: 16px;
                        &:last-child {
                            margin-right: 0;
                        }
                        p {
                            margin-right: 6px;
                            color: $color-46515f;
                            font-size: $font-14;
                            font-weight: $font-weight-semi-bold;
                        }
                    }
                }
                &__options {
                    border-radius: 6px;
                    border: 1px solid #e0e6ed;
                    display: flex;
                    align-items: center;
                    padding: 14px 17px;
                    max-height: 35px;
                    box-sizing: border-box;
                    .option {
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding-right: 12px;
                        padding-left: 12px;
                        max-height: 35px;
                        cursor: pointer;
                        p {
                            margin-right: 10px;
                            color: $color-46515f;
                            font-size: $font-14;
                            font-weight: $font-weight-semi-bold;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            width: 1px;
                            background-color: #e0e6ed;
                            height: 100%;
                            max-height: 34px;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
        }

        &__config-col {
            // position: fixed;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            width: 100%;
            max-width: 1005px;
            margin: 0 auto;
            background-color: $white;
            margin-bottom: 20px;
            z-index: 1;
            max-height: 90%;
            overflow-y: auto;
            // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            // padding-bottom: 15px;

            .config-col__heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-height: 67px;
                background-color: $color-f2f9ff;
                margin-bottom: 36px;
                padding: 20px 30px;
                box-sizing: border-box;
                position: sticky;
                top: 0;
                z-index: 3;

                h2 {
                    font-size: $font-20;
                    color: $color-0f1824;
                    font-weight: $font-weight-semi-bold;
                }

                .btn-close {
                    box-shadow: none;
                    padding: 0;
                }
            }

            .config-col__cols {
                padding: 0 29px;
                display: flex;
                justify-content: space-between;

                &__add {
                    width: 49%;
                    border: 1px solid $color-dcdcdc;
                    border-radius: 6px;
                    max-height: 947px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    h2 {
                        color: #000000;
                        font-size: $font-14;
                        font-weight: $font-weight-semi-bold;
                        text-align: center;
                        min-height: 50px;
                        max-height: 50px;
                        line-height: 50px;
                        background-color: $white;
                        border-bottom: 1px solid $color-dcdcdc;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        position: sticky;
                        top: 0;
                        z-index: 1;
                    }

                    .search {
                        max-height: 35px;
                        box-sizing: border-box;
                        padding: 0 20px;
                        margin-top: 15px;
                        .search-box {
                            position: relative;
                            width: 100%;
                            .search-icon {
                                position: absolute;
                                top: 50%;
                                left: 15px;
                                transform: translateY(-50%);
                            }
                            input {
                                height: 100%;
                                width: 100%;
                                color: $color-858585;
                                font-size: $font-12;
                                font-weight: $font-weight-normal;
                                border: 1px solid $color-dcdcdc;
                                padding: 8px 24px 8px 36px;
                                border-radius: 6px;
                            }
                        }
                    }

                    &__content {
                        padding: 25px 25px;

                        &__row {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 5px;
                            border-radius: 3px;
                            padding: 8px 13px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &.selected {
                                background-color: $color-f2f9ff;
                            }

                            .wrap-checkbox {
                                margin: 0;
                            }
                            label {
                                font-size: $font-14;
                                font-weight: $font-weight-medium;
                                margin: 0;
                                margin-left: 23px;
                                color: $color-0f1824;
                                &.active {
                                    color: $color-4361ee;
                                }
                            }
                            // .custom-checkbox {
                            //     max-width: 21px;
                            //     max-height: 21px;
                            //     margin-right: 0 !important;
                            //     &.Mui-checked {
                            //         max-width: 18px;
                            //         max-height: 18px;
                            //     }
                            // }
                        }
                    }
                    .MuiPaper-root {
                        box-shadow: none;
                        border-radius: 6px;
                        min-width: 100%;
                    }
                }

                &__display {
                    width: 49%;
                    border: 1px solid $color-dcdcdc;
                    border-radius: 6px;
                    max-height: 947px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    h2 {
                        color: #000000;
                        font-size: $font-14;
                        font-weight: $font-weight-bold;
                        text-align: center;
                        min-height: 50px;
                        max-height: 50px;
                        line-height: 50px;
                        background-color: $white;
                        border-bottom: 1px solid $color-dcdcdc;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        position: sticky;
                        top: 0;
                        z-index: 1;
                        text-transform: initial;
                    }

                    .btn-close {
                        box-shadow: none;
                    }

                    &__introduce {
                        padding: 22px 0;
                        p {
                            font-size: $font-14;
                            font-weight: $font-weight-medium;
                            // background-color: $color-f5f5f5;
                            color: $color-007aff;
                            text-align: center;
                            // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
                        }
                    }
                    &__rows {
                        &__row {
                            padding: 10px 17px 10px 54px;
                            border-top: 1px solid $color-dcdcdc;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: $font-14;
                            max-height: 40px;
                            font-weight: $font-weight-medium;
                            color: $color-0f1824;
                            &:last-child {
                                border-bottom: 1px solid $color-dcdcdc;
                            }

                            .btn-close {
                                padding: 0;
                            }
                        }
                    }
                    .MuiPaper-root {
                        box-shadow: none;
                        border-radius: 6px;
                        min-width: 100%;
                    }
                }
            }
        }

        &__pagination {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 33px 24px;
            &__select {
                display: flex;
                justify-content: space-around;
                align-items: center;
                p {
                    font-size: $font-13;
                    font-weight: $font-weight-semi-bold;
                    color: #0e1726;
                    margin-right: 24px;
                }

                .select-option {
                    border-radius: 6px;
                    border: 1px solid #e0e6ed;
                    min-width: 70px;
                    max-height: 40px;
                    .MuiSelect-select {
                        font-size: $font-14;
                        color: #0e1726;
                        font-weight: $font-weight-semi-bold;
                    }

                    img {
                        position: absolute;
                        right: 8px;
                    }
                }
            }
            &__number {
                display: flex;
                align-items: center;
                ul {
                    li {
                        button {
                            background-color: #e0e6ed;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            color: #0e1726;
                            font-size: $font-14;
                            font-weight: $font-weight-semi-bold;
                            &.Mui-selected {
                                background-color: #4361ee;
                                color: #ffffff;
                            }
                            &.Mui-disabled {
                                background-color: #e0e6ed;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .btn-first {
                background-color: #e0e6ed;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                padding: 0;
                &:hover {
                    transform: scale(1);
                }
                span {
                    margin: 0;
                }
            }
            .btn-last {
                background-color: #e0e6ed;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                padding: 0;
                &:hover {
                    transform: scale(1);
                }
                span {
                    margin: 0;
                }
            }
        }

        &__tables {
            .MuiPaper-root {
                box-shadow: none;
            }
            table {
                thead {
                    max-height: 56px;
                    box-sizing: border-box;
                    tr {
                        max-height: 56px;
                        box-sizing: border-box;
                        th {
                            min-width: 200px;
                            box-sizing: border-box;
                            padding: 0 !important;
                            background-color: $color-f2f9ff;
                            border-bottom: 1px solid #e0e6ed;
                            box-sizing: border-box;
                            button {
                                background: transparent;
                                border: none;
                                cursor: pointer;
                                padding: 0;
                                span {
                                    margin-right: 0;
                                }
                            }

                            &:first-child {
                                min-width: 20px;
                                max-width: 20px; /* Đặt giá trị max-width theo ý muốn */
                                padding-left: 15px !important;
                                padding-right: 10px !important;
                            }
                            &:nth-child(2) {
                                min-width: 75px;
                                max-width: 75px;
                                padding: 0 !important;
                                text-align: left;

                                .wrap-checkbox {
                                    margin: 0 0 0 16px;
                                }
                            }

                            &.mwDate {
                                min-width: 135px;
                            }

                            .table-head {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding-right: 17px;
                                p {
                                    font-size: $font-14;
                                    font-weight: $font-weight-semi-bold;
                                    margin-right: 8px;
                                    color: #000000;
                                    min-height: 45px;
                                    max-height: 45px;
                                    height: 45px;
                                    line-height: 45px;
                                    color: #000000;
                                    &.col-100 {
                                        min-width: 100px;
                                    }
                                    &.min-200 {
                                        min-width: 200px;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                }
                                .btn-open-setting {
                                    &:hover {
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-family: 'Manrope', sans-serif !important;
                            padding: 0 !important;
                            border-bottom: 1px solid #e0e6ed;

                            &:first-child {
                                width: 25px;
                                max-width: 25px;
                            }
                            &:nth-child(2) {
                                min-width: 75px;
                                max-width: 75px;
                                padding: 0 !important;
                                text-align: left;

                                .wrap-checkbox {
                                    margin: 0 0 0 16px;
                                }
                            }

                            .table-body {
                                p {
                                    min-height: 50px;
                                    max-height: 50px;
                                    height: 50px;
                                    font-family: 'Manrope', sans-serif !important;
                                    font-size: $font-14;
                                    font-weight: $font-weight-medium;
                                    height: 100%;
                                    line-height: 50px;
                                    width: 100%;
                                    color: $color-0f1824;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    max-width: 200px;
                                    &.color-name {
                                        color: #4361ee;
                                        cursor: pointer;
                                    }
                                    &.status-active {
                                        color: $color-00ab55;
                                    }
                                    &.status-deactive {
                                        color: $color-e7515a;
                                    }
                                    &.status-return {
                                        color: #ff1d1d;
                                        display: inline-block;
                                        border-radius: 6px;
                                        padding: 5px 0;
                                        font-size: $font-13;
                                        font-weight: $font-weight-semi-bold;
                                    }

                                    &.status-fixing {
                                        color: #46515f;
                                        display: inline-block;
                                        border-radius: 6px;
                                        padding: 5px 0;
                                        font-size: $font-13;
                                        font-weight: $font-weight-semi-bold;
                                    }

                                    &.status-done {
                                        color: #e2a03f;
                                        display: inline-block;
                                        border-radius: 6px;
                                        padding: 5px 0;
                                        font-size: $font-13;
                                        font-weight: $font-weight-semi-bold;
                                    }

                                    &.status-return-cus {
                                        color: #007aff;
                                        display: inline-block;
                                        border-radius: 6px;
                                        padding: 5px 0;
                                        font-size: $font-13;
                                        font-weight: $font-weight-semi-bold;
                                    }

                                    &.status-completed {
                                        color: #00ab55;
                                        display: inline-block;
                                        border-radius: 6px;
                                        padding: 5px 0;
                                        font-size: $font-13;
                                        font-weight: $font-weight-semi-bold;
                                    }
                                }
                            }

                            // .custom-checkbox {
                            //     max-width: 21px;
                            //     max-height: 21px;
                            //     margin-right: 0 !important;
                            //     &.Mui-checked {
                            //         max-width: 19px;
                            //         max-height: 19px;
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }
}

.customer-detail {
    &__heading {
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
        max-height: 66px;
        box-sizing: border-box;
        padding: 12px 24px;
        margin-bottom: 16px;

        p {
            color: #007aff;
            font-size: $font-24;
            font-weight: $font-weight-semi-bold;
        }
    }

    &__information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        &__person {
            max-width: 49%;
            width: 100%;
            background-color: $white;
            border-radius: 6px;
            box-shadow: -4px -4px 10px 0px rgba(168, 168, 168, 0.1), 4px 4px 10px 0px rgba(168, 168, 168, 0.1);
            .heading {
                max-height: 55px;
                box-sizing: border-box;
                background-color: #f2f9ff;
                padding: 19px 34px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                p {
                    color: #007aff;
                    font-size: $font-24;
                    font-weight: $font-weight-semi-bold;
                }

                .open-new-tab {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    p {
                        font-size: $font-15;
                        font-weight: $font-weight-semi-bold;
                        color: #007aff;
                        margin-right: 8px;
                    }
                }
            }
            .table {
                padding: 30px 37px;
                display: grid;
                // grid-template-columns: max-content max-content;
                gap: 5px;
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, auto);

                p {
                    font-size: $font-14;
                    font-weight: 500;
                    padding: 10px 0;
                    min-height: 40px;
                }
                // .left {
                //     display: flex;
                //     justify-content: space-between;
                //     max-width: 46%;
                //     width: 100%;
                // }
                // .right {
                //     display: flex;
                //     justify-content: space-between;
                //     max-width: 46%;
                //     width: 100%;
                // }
            }
        }

        &__trade {
            max-width: 49%;
            width: 100%;
            background-color: $white;
            border-radius: 6px;
            box-shadow: -4px -4px 10px 0px rgba(168, 168, 168, 0.1), 4px 4px 10px 0px rgba(168, 168, 168, 0.1);
            .heading {
                max-height: 55px;
                box-sizing: border-box;
                background-color: #f2f9ff;
                padding: 19px 34px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                p {
                    font-size: $font-16;
                    font-weight: $font-weight-semi-bold;
                }

                .open-new-tab {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    p {
                        font-size: $font-15;
                        font-weight: $font-weight-semi-bold;
                        color: #007aff;
                        margin-right: 8px;
                    }
                }
            }
            .table {
                padding: 30px 37px;
                display: grid;
                grid-template-columns: max-content max-content;
                gap: 16px;
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, auto);

                p {
                    font-size: $font-14;
                    font-weight: 500;
                    padding: 10px 0;
                }
            }
        }
    }

    /* Customer detail */
    &__tables {
        border-radius: 6px;
        background-color: $white;
        box-shadow: -4px -4px 10px 0px rgba(168, 168, 168, 0.1), 4px 4px 10px 0px rgba(168, 168, 168, 0.1);
        table {
            thead {
                tr {
                    th {
                        min-width: 100%;
                        box-sizing: border-box;
                        padding: 0 24px !important;
                        background-color: $color-f2f9ff;
                        border-bottom: 1px solid #e0e6ed;
                        &:first-child {
                            min-width: unset;
                            max-width: 100%;
                        }
                        &:nth-child(2) {
                            min-width: 100px;
                            max-width: 100%;
                            // padding: 0 24px !important;
                        }
                        .table-head {
                            display: flex;
                            align-items: center;
                            p {
                                font-size: $font-14;
                                font-weight: $font-weight-semi-bold;
                                margin-right: 8px;
                                color: #000000;
                                min-height: 45px;
                                max-height: 45px;
                                height: 45px;
                                line-height: 45px;
                                color: #000000;
                                text-align: left;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-family: 'Manrope', sans-serif !important;
                        padding: 0 24px !important;
                        border-bottom: 1px solid #e0e6ed;
                        text-align: left;
                        .table-body {
                            p {
                                min-height: 50px;
                                max-height: 50px;
                                height: 50px;
                                font-family: 'Manrope', sans-serif !important;
                                font-size: $font-14;
                                font-weight: $font-weight-medium;
                                height: 100%;
                                line-height: 50px;
                                width: 100%;
                                color: $color-0f1824;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .MuiTabs-root {
            background-color: #f2f9ff;
            margin-bottom: 16px;
            .MuiTabs-flexContainer {
                // justify-content: space-between;
            }
            .MuiTabs-indicator {
                background-color: #007aff;
            }
            .MuiButtonBase-root {
                text-transform: initial;
                font-size: $font-16;
                font-weight: $font-weight-semi-bold;

                &.Mui-selected {
                    color: #007aff;
                }
            }
        }
        table {
            thead {
                tr {
                    position: relative;
                    th {
                        font-family: 'Manrope', sans-serif !important;
                        position: relative;
                        font-size: $font-14;
                        font-weight: $font-weight-semi-bold;
                        color: $color-46515f;
                        background-color: transparent;
                        text-align: left;
                        &:first-child {
                            width: auto;
                            max-width: 100%;
                            padding-left: 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: $font-14;
                        font-weight: $font-weight-medium;
                        color: $color-46515f;
                        &:first-child {
                            color: #4361ee;
                            width: auto;
                            max-width: 100%;
                            padding: 16px;
                        }
                        &:last-child {
                            &.return {
                                border: 1px solid #ff1d1d;
                            }
                        }
                    }
                }
            }
        }
    }

    .MuiTabs-root {
        .MuiButtonBase-root {
            font-size: $font-14;
            font-weight: $font-weight-semi-bold;
            color: $color-747c87;
            &.Mui-selected {
                color: $color-007aff;
            }
        }
    }
}

// @media screen and (max-width: 1600px) {
//     .customer-page {
//         &__list {
//             &__filters {
//                 flex-direction: column;
//                 align-items: flex-start;
//                 .filters--filter-top {
//                     margin-bottom: 16px;
//                     width: 100%;
//                     .search-wrapper {
//                         max-width: 50%;
//                         width: 100%;
//                     }
//                 }
//                 .filters--filter-bottom {
//                     &__files {
//                         margin-right: 16px;
//                         .file {
//                             margin-right: 8px;
//                             &:last-child {
//                                 margin-right: 0;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
