@import '../../../assets/styles/app.scss';

.form-add-branch {
    .heading--primary {
        max-height: 63px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-f2f9ff;
        margin-bottom: 17px;

        h3 {
            font-weight: $font-weight-semi-bold;
            font-size: $font-16;
        }

        .btn-submit {
            text-transform: initial;
            font-size: $font-14;
            font-weight: $font-weight-bold;
            max-height: 35px;
            padding: 6px 14px;
            border-radius: 3px;
            margin-right: 35px;
        }

        .btn-close {
            padding: 0;
        }
    }
    // .information--form-control {
    //     input {
    // &::placeholder {
    //     font-size: $font-14;
    //     font-weight: $font-weight-medium;
    //     color: $color-939393;
    // }
    //     }
    // }

    .information {
        padding: 1rem;
        h3 {
            border-bottom: 1px solid $color-d9d9d9;
            padding: 17px;
            font-size: $font-14;
            font-weight: $font-weight-semi-bold;
            margin-bottom: 16px;
        }

        &--buttons {
            text-align: center;
            margin-bottom: 18px;
            .btn-cancel {
                color: $color-e7515a;
                border: 1px solid $color-e7515a;
                border-radius: 3px;
                padding: 8px 34px;
                margin-right: 37px;
                text-transform: inherit;
                font-size: $font-14;
                font-weight: $font-weight-semi-bold;
            }
            .btn-submit {
                padding: 8px 14px;
                border-radius: 3px;
                text-transform: inherit;
                font-size: $font-14;
                font-weight: $font-weight-semi-bold;
                &.disabled {
                    background-color: gray;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }

        &--form-control {
            width: 48%;
            margin-bottom: 20px;
            &.textarea {
                .MuiFormControl-root {
                    max-height: 100%;
                    .MuiInputBase-root {
                        max-height: 100%;
                    }

                    textarea {
                        font-size: $font-14;
                        font-weight: $font-weight-medium;
                        color: $color-191919;
                        &::placeholder {
                            font-size: $font-14;
                            font-weight: $font-weight-medium;
                            color: $color-939393;
                        }
                    }
                }
            }

            .MuiFormControlLabel-root {
                margin-left: 1px;
            }
            .custom-checkbox {
                width: 18px;
                height: 18px;
                margin-right: 15px !important;
                &.Mui-checked {
                    width: 18px;
                    height: 18px;
                }
                .MuiTypography-root {
                    font-size: $font-14;
                    font-weight: $font-weight-semi-bold;
                    color: $color-0f1824;
                }
            }

            label {
                font-size: $font-14;
                font-weight: $font-weight-medium;
                margin-bottom: 3px;
            }
            input {
                font-size: $font-14;
                font-weight: $font-weight-medium;
                color: $color-191919;
                &::placeholder {
                    font-size: $font-14;
                    font-weight: $font-weight-medium;
                    color: $color-939393;
                }
            }
            .MuiFormControl-root {
                max-height: 39px;
                input {
                    padding: 10px 24px;
                    &::placeholder {
                        font-size: $font-14;
                        font-weight: $font-weight-medium;
                        color: $color-939393;
                    }
                }
                fieldset {
                    border: 1px solid $color-d9d9d9;
                }
            }

            .MuiInputBase-root {
                max-height: 39px;
                svg {
                    display: none;
                }
                fieldset {
                    border: 1px solid $color-d9d9d9;
                }
            }
        }
        .information--col {
            margin-bottom: 21px;
            .information--form-control {
                width: 100%;
            }
        }
        .information--cols {
            display: flex;
            justify-content: space-between;
        }
    }

    .information-add {
        padding: 1rem;

        h3 {
            border-bottom: 1px solid $color-d9d9d9;
            padding: 17px;
            font-size: $font-14;
            font-weight: $font-weight-semi-bold;
            margin-bottom: 16px;
        }

        &--columns {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            width: 48%;
            .information-add--cols {
                .information--form-control {
                    width: 100%;
                }
            }

            .input-date {
                width: 100%;
                min-height: 39px;
                max-height: 39px;
                border-radius: 3px;
                border: 1px solid $color-d9d9d9;
                padding: 1rem;
                box-sizing: border-box;
            }
        }

        &__right {
            width: 48%;
            .information--form-control {
                width: 100%;

                &.textarea-note {
                    .MuiFormControl-root {
                        max-height: 100%;
                        .MuiInputBase-root {
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }
}
