* {
    margin: 0;
    padding: 0;
}
$bg-color: 'transparent';
/*
  * VARIABLES COLORS
  */
$primary-color: '#000000';
$secondary-color: '#2B76FF';
$white: #ffffff;
$heading-color: '';
$placeholder-color: '#F6F6F6';
$border-color: '#F6F6F6';

/*
  * VARIABLES FONTS
  */
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;
$font-40: 40px;
$font-44: 44px;
$font-52: 52px;
$font-56: 56px;
$font-60: 60px;
$font-72: 72px;
$color-f5f5f5: #f5f5f5;
$color-f2f9ff: #f2f9ff;
$color-dcdcdc: #dcdcdc;
$color-fafbfa: #fafbfa;
$color-46515f: #46515f;
$color-d9d9d9: #d9d9d9;
$color-939393: #939393;
$color-191919: #191919;
$color-e7515a: #e7515a;
$color-4361ee: #4361ee;
$color-e0e6ed: #e0e6ed;
$color-007aff: #007aff;
$color-0f1824: #0f1824;
$color-747c87: #747c87;
/*
  * VARIABLES FONT-WEIGHT
  */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/*
  * VARIABLES LINE-HEIGHT
  * > 40px 1.2, < 40px 1.33
  */
$line-height-12: 1.2;
$line-height-13: 1.33;

body {
    background: $color-fafbfa;
    font-family: 'Manrope', sans-serif !important;
    font-size: $font-14;
}

/*
  * Elements
  */
tr,
td,
th,
button,
a,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif !important;
}

.pagination-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.custom-checkbox-icon {
    width: 18px; /* Thay đổi kích thước theo ý muốn */
    height: 18px; /* Thay đổi kích thước theo ý muốn */
    fill: #007bff; /* Màu sắc của icon khi được chọn */
}

.custom-checkbox {
    // border-radius: 4px !important;
    // border: 2px solid #b0b0b0 !important;
    padding: 2px !important;
    margin-right: 23px !important;
}

.custom-checkbox.Mui-checked {
    background-color: #ffffff; /* Change to your desired color */
    border-radius: 4px;
    border: 2px solid #4361ee !important;
    padding: 2px;
    margin-right: 23px;
}

.loading-form {
    // display: none;
}

.layer {
    background-color: #000000;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.switch-button {
    // width: 33px;
    // height: 20px !important;
    padding: 7px 4px !important;
    // border-radius: 20px;
    .MuiSwitch-track {
        background-color: $color-e0e6ed;
        border-radius: 20px;
    }

    .MuiButtonBase-root {
        padding: 11px 9px;
        .MuiSwitch-thumb {
            width: 16px;
            height: 16px;
        }
        &.MuiSwitch-switchBase {
            .MuiSwitch-thumb {
                background-color: $white;
            }
            &.Mui-checked {
                padding: 11px 13px;
                + .MuiSwitch-track {
                    background-color: $color-4361ee;
                    opacity: 1;
                }
            }
        }
    }
}

.animate__animated {
    overflow-x: scroll;
    display: flex;
}
